NEXT_PUBLIC_CONTRACT_ADDRESS=#YOUR_DEPLOYED_CONTRACT_ADDRESS such as 0xAfE46736679d2D9a65F0992F2272dE9f3c7fa6e1

# ---Below config is not required for local development---
# Note: amoy network is quite unstable, try to use sepolia instead for the testnet
#NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=#YOUR_PROJECT_ID #get free one from https://cloud.reown.com (no need to set for local)
#NEXT_PUBLIC_TARGET_CHAIN_ID=#target chain id such as 31337 for hardhat  or 11155111 for sepolia (no need to set for local)
#NEXT_PUBLIC_CRYPTO_CURRENCY=#YOUR currency such as "ethereum" or "matic-network"
#NEXT_PUBLIC_POLYGON_AMOY_RPC=#YOUR_AMOY_RPC (only need if you deploy on amoy testnet, no need for local)
#NEXT_PUBLIC_SEPOLIA_RPC=#YOUR_SEPOLIA_RPC (only need if you want to deploy on Sepolia testnet, no need for local)